.display-3{
font-size: 2.5rem;
}
.display-4{
  font-size: 2rem;
}
.status-bar{
  height: 70vh;
}
.bg-available{
  background: linear-gradient(to right, #3aef7d, #11998e);
}
.bg-unavailable{
  background: linear-gradient(to right, #f85032, #7a2828);
}
.bg-waiting{
  background: linear-gradient(to right, #fdc830, #fbb034);
}
.schedule-pop-button{
  width: 100%;
  position: fixed;
  bottom: 0;
}
.modal-fullscreen{
  .modal-dialog{
    max-width: 100vw !important;
    height: 100%;
    margin: 0;
  }
  .modal-content{
    width: 95vw;
    height: 95vh;
    margin: 0 auto;
  }
}
