<div class="container-fluid h-100" [ngClass]="{'bg-available': !currentMeeting, 'bg-unavailable': currentMeeting}">
  <div class="row h-100 align-items-center">
    <div class="col">
      <div class="container text-white">
        <div class="row">
          <div class="col text-center">
            <span class="display-1">{{room}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <span class="display-2">
              {{currentMeeting ? 'Unavailable' : 'Available'}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="schedule-pop-button mb-4">
    <div class="container-fluid">
      <div class="row mb-1">
        <div class="col text-center">
          <div class="d-inline-block" style="cursor: pointer;" data-toggle="modal" data-target="#modal-schedule">
            <img src="/assets/images/icon-up.png"/>
            <span class="d-block display-3 text-white">Schedule</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-schedule" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body" style="height: 90vh; width: 90vw;">
        <div class="fullscreen-modal">

        </div>
      </div>
    </div>
  </div>
</div>
