.display-3{
font-size: 2.5rem;
}
.display-4{
  font-size: 2rem;
}
.status-bar{
  height: 70vh;
}
.meeting-box{
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
  font-weight: lighter;
  .meeting-title{
    font-size: 1.5rem;
  }
  .meeting-time{
    font-size: 1.1rem;
  }
}
.text-underline{;
}
